html {
	width: 98%;
}
h1 {
    text-align: center;
    font-size: 4.0em;
}

ul li a {
    color: #333333;
    font-size: 2.0em;
    font-weight: bold;
}
h2{
    margin: 20px;
	font-size: 30px;
}
p {
	font-size: 20px;
}
img {
    display: block;
    margin: auto;
}

#quote {
    text-align: center;
}

.text-body {
    text-align: center;
}
.row {
    background-color: #75c778;
}
#contact {
    margin-left: 20px;
}
#contact p{
    font-size: 1.2em;
}
#main-title{
    height: 150px;
    width: auto;
}
.Fotos-Information {
}
div img{
    margin-right: 20px;
    margin-bottom: 20px;
}
.col {
    padding-right: 20px;
    padding-top: 20px;
}